<div class="container mt-5">
  <div class="row">
    <div *ngFor="let table of dataOtp  | orderBy: '-tb_index'; let i = index; let last = last" class="col-lg-4 col-md-4">
        <mdb-card cascade="true" class="my-5">
          <div class="view view-cascade gradient-card-header blue-gradient p-4">
            <div class="row">
              <h2 *ngIf="editTable != table.tb_id" class="card-header-title align-content-center ">{{table.tb_name}}
                <mdb-icon (click)="editTableChange(table.tb_id)" class="align-content-center h-100" icon="pencil" size="lg"></mdb-icon>
                <mdb-icon (click)="deleteTable(table.tb_id)" class="align-content-center h-100" icon="trash" size="lg"></mdb-icon>
              </h2>

              <div *ngIf="editTable == table.tb_id" class="md-form col-12">
                <div class="row">
                  <form [formGroup]="rForm" (ngSubmit)="editTableName(table.tb_id)" class="col-12">
                        <input mdbInputDirective formControlName="name" type="text" id="form1" class="form-control col-12" value="{{table.tb_name}}">
                          <label for="validate">Nazwa tablicy</label>
                    </form>
                  </div>
                  <div class="row">
                    <button (click)="editTableName(table.tb_id)" class="col-6 align-content-center h-100" mdbBtn color="default" sclass="waves-light" mdbWavesEffect>Edytuj</button>
                    <button (click)="editTableChange(NULL)" class="col-6 align-content-center h-100" mdbBtn color="grey,lithen-3" sclass="waves-light" class="text-dark" mdbWavesEffect>Anuluj</button>
                  </div>
              </div>
            </div>
          </div>
        </mdb-card>
      </div>
    <div class="col-lg-4 col-md-4 my-5 align-content-around">
      <button mdbBtn type="button" color="primary" class="waves-light addTableBtn centerAll" mdbWavesEffect (click)="createTable('XDDDD')">
          <i class="mdi mdi-plus mdi-36px"></i>
      </button>
    </div>
  </div>
</div>
<app-add-table *ngIf="g.isCreatingTable" (someEvent)="showConfig()"></app-add-table>
