
<mdb-card class="col-4 offset-4 p-0 addTableView" >
    <mdb-card-body>
        <form [formGroup]="createTableForm" class="row " (ngSubmit)="onSubmit()">
            <div class="md-form col-12">
              <input type="text" formControlName="name" id="defaultForm-email" class="col-12 form-control " mdbInputDirective>
              <label for="defaultForm-email">Nazwa</label>
            </div>
            <div *ngIf="isShown" class="col-12 p-0">
              <div class="row">
                <div class="col-6 text-center">
                  <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Dodaj">
                </div>
                <div class="col-6 text-center">
                    <button type="button" (click)="cancle()" mdbBtn color="grey lithen-3" sclass="waves-light" class="text-dark" mdbWavesEffect >Anuluj</button>
                </div>
              </div>
            </div>
        </form>
    </mdb-card-body>
  </mdb-card>
